footer {
  background-color: #272727;
  height: auto;
  padding-bottom: 120px;
  background-image: url(../images/footer.png);
  background-repeat: no-repeat;
  background-position: center bottom, center center;
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    background-size: contain;
  }
  .footer-widget {
    margin-top: 40px;
    h2 {
      font-size: 26px;
      @include title;
      padding-bottom: 5px;
      color: $white;
      &:after {
        content: '';
        display: block;
        margin-top: 5px;
        height: 1px;
        width: 80%;
        background: #fff;
      }
    }
  }
  .twitter-widget {
    color: $white;
    p {
      font-size: 14px;
      padding-bottom: 5px;
    }
    .ctf-tweet-text a {
      color: rgba(55,157,166,1);
    }
    .ctf-item {
      border: 0;
      display: none;
      &:first-child {
        display: block;
      }
    }
    a {
      // display: block;
      font-size: 14px;
      padding-bottom: 5px;
      color: $primary-color;
    }
    span {
      display: block;
    }
  }
  .social-media {
    ul {
      margin-top: 10px;
      li {
        display: inline-block;
        background: $second-color;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        @include hover;
        &:hover {
          background: $primary-color;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          display: block;
          color: #fff;
          text-align: center;
          i {
            line-height: 40px;
            text-align: center;
            font-size: 20px;
          }
        }
      }
    }
  }
  .supporter-title {
    margin-top: 40px;
    color: $white;
    @include title;
    font-size: 26px;
    padding-bottom: 5px;
    text-align: center;
    // &:after {
    //   content: '';
    //   display: block;
    //   margin-top: 5px;
    //   height: 1px;
    //   width: 30%;
    //   background: #fff;
    // }
  }
  .footer-widget-supporter {
    display: flex;
    margin-top: 5px;
    background: #fff;
    border-radius: 20px;
    .supporter-list-item {
      display: inline-flex;
      align-items: center;
      padding: 5px 20px;
      img {
        object-fit: contain;
        width: 100%;
      }
    }
  }
}